In [48]:
import pandas as pd

In [220]:
top30_countries = ['United States', 'Spain', 'France', 'United Kingdom', 
                   'Germany', 'Italy', 'Thailand', 'Turkiye', 'Hong Kong SAR China', 
                   'Macao SAR China', 'China', 'Canada', 'Japan', 'Austria', 
                   'Netherlands', 'Malaysia', 'Mexico', 'Greece', 'United Arab Emirates', 
                   'Singapore' ,'Russian Federation', 'Poland', 'Saudi Arabia', 
                   'Croatia', 'South Africa', 'Denmark' ,'Czechia', 'Hungary', 
                   'Ukraine', 'Slovak Republic']

In [49]:
tourism_arrival_departure = pd.read_csv('../data/to use/tourism_arrival_departure.csv')

In [50]:
tourism_arrival_departure['year'].unique()

array([2013, 2012, 2011, 2010, 2014, 2018, 2019, 2017, 2009, 2015, 2004,
       2016, 2008, 2003, 2007, 2005, 2006, 2020, 2021])

In [51]:
df_2019 = tourism_arrival_departure[tourism_arrival_departure['year'] == 2019]

In [67]:
df_2019_sorted = df_2019.sort_values(by='arrivals', ascending=False)

In [69]:
top_40_arrivals = df_2019_sorted.head(40)
top_40_arrivals = top_40_arrivals.sort_values(by='arrivals', ascending=True)

In [70]:
top_40_arrivals['arrival_rank'] = range(1, 41)
top_40_arrivals

,Unnamed: 0,country,code,year,arrivals,revenue_dollars,gdp_dollars,percent_of_gdp,entity,primary_energy_consumption_per_capita_kwh/person,annual_co2_emissions_per_capita),tourist_departures,arrival_rank
1427,1427,Switzerland,CHE,2019,11818000.0,2.125130e+10,7.213700e+11,2.945964,Switzerland,39156.4500,4.282726,19797.0,1
1813,1813,Belarus,BLR,2019,11832000.0,1.290000e+09,6.441000e+10,2.002795,Belarus,31923.4360,6.418909,9221.0,2
658,658,Bulgaria,BGR,2019,12552000.0,4.832402e+09,6.888000e+10,7.015682,Bulgaria,29996.0270,5.988301,7007.0,3
1938,1938,Romania,ROU,2019,12815000.0,4.246026e+09,2.510200e+11,1.691509,Romania,19839.0470,3.937943,23066.0,4
1013,1013,"Egypt, Arab Rep.",EGY,2019,13026000.0,1.425600e+10,3.186800e+11,4.473453,Egypt,9919.5440,2.425141,NaN,5
599,599,Morocco,MAR,2019,13109000.0,9.948645e+09,1.289200e+11,7.716914,Morocco,7267.4640,1.893520,2009.0,6
1940,1940,Ukraine,UKR,2019,13710000.0,2.595000e+09,1.538800e+11,1.686379,Ukraine,21661.1460,5.020078,29346.0,7
1673,1673,South Africa,ZAF,2019,14797000.0,9.063867e+09,3.893300e+11,2.328068,South Africa,25511.2090,8.012615,NaN,8
1963,1963,Indonesia,IDN,2019,16107000.0,1.840507e+10,1.119100e+12,1.644631,Indonesia,8474.4795,2.414493,11689.0,9
454,454,Portugal,PRT,2019,17283000.0,2.462510e+10,2.399900e+11,10.260886,Portugal,28468.5600,4.615589,3100.0,10
2007,2007,"Korea, Rep.",KOR,2019,17503000.0,2.545600e+10,1.651420e+12,1.541461,South Korea,66896.1300,12.472093,28714.0,11
2284,2284,India,IND,2019,17914000.0,3.166106e+10,2.835610e+12,1.116552,India,6731.8050,1.889137,26915.0,12
1265,1265,Viet Nam,VNM,2019,18009000.0,1.183000e+10,3.343700e+11,3.537997,Vietnam,12585.5700,3.568600,NaN,13
3279,3279,Singapore,SGP,2019,19116000.0,NaN,3.768400e+11,NaN,Singapore,158657.8900,5.757938,10711.0,14
1425,1425,Netherlands,NLD,2019,20129000.0,2.682510e+10,9.101900e+11,2.947198,Netherlands,58836.9340,8.783454,22045.0,15
1643,1643,Saudi Arabia,SAU,2019,20292000.0,1.984900e+10,8.385600e+11,2.367034,Saudi Arabia,82989.2660,19.737017,27196.0,16
2342,2342,Russian Federation,RUS,2019,24419000.0,1.723500e+10,1.693110e+12,1.017949,Russia,57486.2000,11.698944,45330.0,17
498,498,United Arab Emirates,ARE,2019,25282000.0,3.841330e+10,4.179900e+11,9.190005,United Arab Emirates,134878.3900,23.834637,18906.0,18
739,739,Malaysia,MYS,2019,26101000.0,2.220000e+10,3.651800e+11,6.079194,Malaysia,37823.5000,8.154313,NaN,19
2386,2386,Japan,JPN,2019,31881000.0,4.920980e+10,5.117990e+12,0.961506,Japan,40868.6880,8.780706,20081.0,20
777,777,Austria,AUT,2019,31884000.0,2.589010e+10,4.446000e+11,5.823234,Austria,48314.2580,7.652773,11902.0,21
1851,1851,Canada,CAN,2019,32430000.0,3.340610e+10,1.743730e+12,1.915784,Canada,107980.7600,15.419720,37846.0,22
1345,1345,Denmark,DNK,2019,33093000.0,1.110640e+10,3.465000e+11,3.205310,Denmark,33139.2770,5.340050,9088.0,23
418,418,Greece,GRC,2019,34005000.0,2.308140e+10,2.052500e+11,11.245505,Greece,29966.3090,6.218964,7848.0,24
1364,1364,Czechia,CZE,2019,37202000.0,7.968600e+09,2.525500e+11,3.155256,Czechia,45355.2850,9.588486,7346.0,25
7,7,"Macao SAR, China",MAC,2019,39406000.0,4.116600e+10,5.508000e+10,74.738562,Macao,23023.5880,1.827418,1765.0,26
2303,2303,Germany,DEU,2019,39563000.0,4.180570e+10,3.889180e+12,1.074923,Germany,44467.7460,8.508805,99533.0,27
406,406,Thailand,THA,2019,39916000.0,6.437100e+10,5.439800e+11,11.833339,Thailand,20792.3850,3.952870,10446.0,28
1884,1884,United Kingdom,GBR,2019,40857000.0,5.272100e+10,2.851410e+12,1.848945,United Kingdom,32893.7600,5.462123,93086.0,29
824,824,Turkiye,TUR,2019,51747000.0,4.141500e+10,7.610100e+11,5.442110,Turkey,21973.0620,4.823720,9651.0,30
506,506,"Hong Kong SAR, China",HKG,2019,55913000.0,3.269700e+10,3.630700e+11,9.005701,Hong Kong,45990.8600,5.589584,94715.0,31
207,207,Croatia,HRV,2019,60021000.0,1.199417e+10,6.147000e+10,19.512235,Croatia,23200.7290,4.324099,3500.0,32
715,715,Hungary,HUN,2019,61397000.0,1.024910e+10,1.640200e+11,6.248689,Hungary,28131.2050,5.046203,24860.0,33
1519,1519,Poland,POL,2019,88515000.0,1.602190e+10,5.960600e+11,2.687968,Poland,30777.7990,8.252866,50600.0,34
1561,1561,Italy,ITA,2019,95399000.0,5.198820e+10,2.011300e+12,2.584806,Italy,30464.0620,5.699218,62207.0,35
1824,1824,Mexico,MEX,2019,97406000.0,2.584760e+10,1.305210e+12,1.980340,Mexico,17903.2950,3.744022,82752.0,36
793,793,Spain,ESP,2019,126170000.0,7.970880e+10,1.394320e+12,5.716679,Spain,33764.8630,5.318343,22816.0,37
3015,3015,China,CHN,2019,162538000.0,NaN,1.427997e+13,NaN,China,28277.4450,7.540132,154632.0,38
2281,2281,United States,USA,2019,165478000.0,2.394460e+11,2.138098e+13,1.119902,United States,79489.0160,15.739861,170930.0,39
1555,1555,France,FRA,2019,217877000.0,7.086720e+10,2.728870e+12,2.596943,France,42326.7850,4.898306,49276.0,40

In [71]:
top_40_arrivals_departure_2019 = top_40_arrivals.sort_values(by='tourist_departures', ascending=True)

In [56]:
top_40_arrivals_departure_2019['departure_rank'] = range(1, 41)
top_40_arrivals_departure_2019

,Unnamed: 0,country,code,year,arrivals,revenue_dollars,gdp_dollars,percent_of_gdp,entity,primary_energy_consumption_per_capita_kwh/person,annual_co2_emissions_per_capita),tourist_departures,arrival_rank,departure_rank
93,93,Vanuatu,VUT,2019,2.560000e+05,2.950000e+08,9.400000e+08,31.382979,Vanuatu,3154.47170,0.541631,36.0,18,1
151,151,Samoa,WSM,2019,1.810000e+05,2.061000e+08,9.100000e+08,22.648352,Samoa,7697.95900,1.279456,69.0,14,2
1031,1031,Bhutan,BTN,2019,3.160000e+05,1.200000e+08,2.740000e+09,4.379562,Bhutan,27251.60200,1.900570,72.0,20,3
68,68,Seychelles,SYC,2019,4.280000e+05,6.180000e+08,1.650000e+09,37.454545,Seychelles,45777.12500,5.686280,76.0,25,4
3277,3277,Sierra Leone,SLE,2019,7.100000e+04,NaN,4.080000e+09,NaN,Sierra Leone,513.00440,0.124762,122.0,7,5
3233,3233,New Caledonia,NCL,2019,1.300000e+05,NaN,9.480000e+09,NaN,New Caledonia,79064.88000,19.878710,144.0,11,6
126,126,Fiji,FJI,2019,9.690000e+05,1.345000e+09,5.440000e+09,24.724265,Fiji,9417.63200,1.533033,174.0,38,7
1204,1204,Togo,TGO,2019,8.760000e+05,2.640000e+08,6.990000e+09,3.776824,Togo,1304.05790,0.292972,269.0,35,8
1010,1010,Moldova,MDA,2019,1.740000e+05,5.270000e+08,1.174000e+10,4.488927,Moldova,13488.87500,1.767168,311.0,13,9
3349,3349,Tuvalu,TUV,2019,3.600000e+03,NaN,5.000000e+07,NaN,Tuvalu,0.00000,1.000819,NaN,1,10
3143,3143,Kiribati,KIR,2019,1.200000e+04,NaN,1.800000e+08,NaN,Kiribati,2592.43260,0.530792,NaN,2,11
3219,3219,"Micronesia, Fed. Sts.",FSM,2019,1.800000e+04,NaN,4.200000e+08,NaN,Micronesia (country),6471.66300,1.315714,NaN,3,12
899,899,Solomon Islands,SLB,2019,2.890000e+04,8.200000e+07,1.620000e+09,5.061728,Solomon Islands,2027.37560,0.434252,NaN,4,13
743,743,Comoros,COM,2019,4.510000e+04,7.270000e+07,1.200000e+09,6.058333,Comoros,1685.72960,0.393733,NaN,5,14
2140,2140,Guinea-Bissau,GNB,2019,5.240000e+04,1.892000e+07,1.440000e+09,1.313889,Guinea-Bissau,703.12730,0.163633,NaN,6,15
2999,2999,Chad,TCD,2019,8.100000e+04,NaN,1.131000e+10,NaN,Chad,458.18085,0.142813,NaN,8,16
2981,2981,Central African Republic,CAF,2019,8.700000e+04,NaN,2.220000e+09,NaN,Central African Republic,299.18008,0.043608,NaN,9,17
419,419,Tonga,TON,2019,9.400000e+04,5.710000e+07,5.100000e+08,11.196078,Tonga,6863.21440,1.535902,NaN,10,18
2296,2296,Burkina Faso,BFA,2019,1.430000e+05,1.730000e+08,1.603000e+10,1.079226,Burkina Faso,946.95734,0.262868,NaN,12,19
2355,2355,Niger,NER,2019,1.920000e+05,1.300000e+08,1.289000e+10,1.008534,Niger,468.48480,0.107210,NaN,15,20
3257,3257,Papua New Guinea,PNG,2019,2.110000e+05,NaN,2.475000e+10,NaN,Papua New Guinea,3159.51660,0.819192,NaN,16,21
3198,3198,Mali,MLI,2019,2.170000e+05,NaN,1.728000e+10,NaN,Mali,1231.71510,0.283584,NaN,17,22
3110,3110,Guyana,GUY,2019,3.150000e+05,NaN,5.170000e+09,NaN,Guyana,14184.61200,3.450071,NaN,19,23
3030,3030,Dominica,DMA,2019,3.220000e+05,NaN,6.100000e+08,NaN,Dominica,11049.87000,2.410324,NaN,21,24
2845,2845,Bangladesh,BGD,2019,3.230000e+05,3.910000e+08,3.512400e+11,0.111320,Bangladesh,2916.31760,0.608955,NaN,22,25
1949,1949,Benin,BEN,2019,3.370000e+05,2.408600e+08,1.439000e+10,1.673801,Benin,2416.16200,0.578998,NaN,23,26
102,102,St. Vincent and the Grenadines,VCT,2019,3.920000e+05,2.550000e+08,9.100000e+08,28.021978,Saint Vincent and the Grenadines,8642.67500,2.164742,NaN,24,27
1803,1803,Trinidad and Tobago,TTO,2019,4.800000e+05,4.810000e+08,2.378000e+10,2.022708,Trinidad and Tobago,123712.94000,26.831530,NaN,26,28
676,676,Madagascar,MDG,2019,4.860000e+05,9.510000e+08,1.410000e+10,6.744681,Madagascar,678.70404,0.154590,NaN,27,29
3078,3078,Grenada,GRD,2019,5.260000e+05,NaN,1.210000e+09,NaN,Grenada,10655.75400,2.686720,NaN,28,30
524,524,"Gambia, The",GMB,2019,6.200000e+05,1.570000e+08,1.810000e+09,8.674033,Gambia,972.66790,0.283320,NaN,29,31
1064,1064,Mongolia,MNG,2019,6.370000e+05,6.050000e+08,1.421000e+10,4.257565,Mongolia,24279.39000,14.618863,NaN,30,32
1356,1356,North Macedonia,MKD,2019,7.580000e+05,4.010000e+08,1.261000e+10,3.180016,North Macedonia,14689.62600,3.616904,NaN,31,33
121,121,Cabo Verde,CPV,2019,7.580000e+05,5.670000e+08,2.250000e+09,25.200000,Cape Verde,7383.92800,0.971501,NaN,32,34
563,563,Bermuda,BMU,2019,8.050000e+05,6.010000e+08,7.420000e+09,8.099730,Bermuda,50639.29300,9.298764,NaN,33,35
1228,1228,Ethiopia,ETH,2019,8.120000e+05,3.529000e+09,9.591000e+10,3.679491,Ethiopia,921.99115,0.146117,NaN,34,36
3112,3112,Haiti,HTI,2019,9.380000e+05,NaN,1.502000e+10,NaN,Haiti,1184.34620,0.277003,NaN,36,37
2933,2933,Barbados,BRB,2019,9.660000e+05,NaN,5.340000e+09,NaN,Barbados,25172.02700,5.948457,NaN,37,38
1930,1930,Cameroon,CMR,2019,1.021000e+06,6.810000e+08,3.967000e+10,1.716662,Cameroon,1720.24940,0.372031,NaN,39,39
29,29,Antigua and Barbuda,ATG,2019,1.035000e+06,9.920000e+08,1.730000e+09,57.341040,Antigua and Barbuda,33027.51600,6.959958,NaN,40,40

In [57]:
tourism_arrival_departure.columns

Index(['Unnamed: 0', 'country', 'code', 'year', 'arrivals', 'revenue_dollars',
       'gdp_dollars', 'percent_of_gdp', 'entity',
       'primary_energy_consumption_per_capita_kwh/person',
       'annual_co2_emissions_per_capita)', 'tourist_departures'],
      dtype='object')

In [58]:
columns_to_mean = ['arrivals', 'revenue_dollars', 'gdp_dollars', 'percent_of_gdp', 
                   'primary_energy_consumption_per_capita_kwh/person', 
                   'annual_co2_emissions_per_capita)', 'tourist_departures']

tourism_arrival_departure_mean = tourism_arrival_departure.groupby('country')[columns_to_mean].mean().reset_index()

In [59]:
tourism_arrival_departure_mean

,country,arrivals,revenue_dollars,gdp_dollars,percent_of_gdp,primary_energy_consumption_per_capita_kwh/person,annual_co2_emissions_per_capita),tourist_departures
0,Afghanistan,NaN,9.992308e+07,1.456833e+10,0.571768,771.793447,0.228480,NaN
1,Albania,3.029471e+06,1.600889e+09,1.169333e+10,13.434067,11739.745278,1.614332,3679.888889
2,Algeria,1.982000e+06,2.968438e+08,1.554983e+11,0.191996,13419.315444,3.570592,2586.666667
3,Angola,NaN,5.557778e+08,7.569889e+10,0.651883,3274.425633,0.849377,NaN
4,Antigua and Barbuda,8.444412e+05,7.901429e+08,1.311111e+09,51.773184,32624.019611,6.385687,NaN
...,...,...,...,...,...,...,...,...
186,"Venezuela, RB",7.988182e+05,8.366667e+08,2.787908e+11,0.345151,33929.808750,5.839304,1422.166667
187,Viet Nam,7.281235e+06,5.585111e+09,1.790494e+11,3.383983,7332.996511,1.898295,NaN
188,"Yemen, Rep.",1.071833e+06,8.191429e+08,2.750188e+10,2.275312,2947.179222,0.782594,NaN
189,Zambia,8.560588e+05,NaN,1.887389e+10,NaN,3034.817167,0.279693,NaN
190,Zimbabwe,2.029941e+06,1.892778e+08,1.441944e+10,2.078114,3680.369178,0.752694,1575.117647

In [91]:
top30countries_2004_2021 = tourism_arrival_departure_mean.sort_values(by='arrivals', ascending=False)
topa30_arrivals_2004_2021 = top30countries_2004_2021.head(30)
topa30_arrivals_2004_2021 = topa30_arrivals_2004_2021.sort_values(by='arrivals', ascending=True)
topa30_arrivals_2004_2021['arrival_rank'] = range(1, 31)

In [92]:
topa30_arrivals_2004_2021

,country,arrivals,revenue_dollars,gdp_dollars,percent_of_gdp,primary_energy_consumption_per_capita_kwh/person,annual_co2_emissions_per_capita),tourist_departures,arrival_rank
157,South Africa,1.143315e+07,8.667282e+09,3.537537e+11,2.509022,26451.693684,8.487700,NaN,1
152,Singapore,1.273556e+07,1.356138e+10,2.537183e+11,5.457517,145047.570833,8.840450,7316.888889,2
123,Netherlands,1.276082e+07,1.964453e+10,8.335695e+11,2.342255,63581.916526,9.887852,18388.529412,3
87,Japan,1.354752e+07,2.094362e+10,5.099419e+12,0.416076,44325.161722,9.632698,16317.777778,4
153,Slovak Republic,1.452600e+07,2.236474e+09,9.013263e+10,2.459419,36747.036474,6.945356,3298.066667,5
147,Saudi Arabia,1.673494e+07,9.964933e+09,5.823228e+11,1.559263,82505.545056,17.771575,16440.062500,6
179,Ukraine,1.914953e+07,3.518111e+09,1.296522e+11,2.716776,28847.772667,6.088169,21470.428571,7
180,United Arab Emirates,1.974500e+07,1.498390e+10,3.159100e+11,4.189624,136910.315278,24.113671,16635.833333,8
107,Malaysia,2.226588e+07,1.718617e+10,2.599839e+11,6.820322,34202.777333,7.240672,31481.000000,9
68,Greece,2.279118e+07,1.559901e+10,2.461326e+11,6.581500,32479.072579,8.139278,5443.153846,10
169,Thailand,2.283375e+07,3.200917e+10,3.517589e+11,8.706141,17874.019333,3.613229,5719.117647,11
9,Austria,2.382524e+07,1.998224e+10,3.975921e+11,5.036527,48373.322158,8.265923,9867.777778,12
143,Russian Federation,2.419394e+07,1.338244e+10,1.452631e+12,0.958433,54990.027111,11.314216,35778.555556,13
104,"Macao SAR, China",2.625612e+07,2.430389e+10,3.321167e+10,69.904492,19805.076778,2.576820,1053.937500,14
46,Denmark,2.689124e+07,8.059334e+09,3.216979e+11,2.503752,38060.387737,7.782570,7121.222222,15
45,Czechia,2.723188e+07,7.118441e+09,1.981511e+11,3.668023,47606.346778,10.908510,6745.833333,16
66,Germany,2.869441e+07,4.644549e+10,3.461573e+12,1.345946,46805.655222,9.915572,87730.235294,17
32,Canada,2.937788e+07,2.099849e+10,1.556232e+12,1.356677,112214.084263,16.351894,53301.071429,18
181,United Kingdom,3.287218e+07,5.207804e+10,2.699111e+12,1.883839,38127.465056,7.539518,69882.500000,19
174,Turkiye,3.302153e+07,2.916606e+10,7.296817e+11,3.749362,18179.655389,4.501708,6950.833333,20
76,"Hong Kong SAR, China",4.108571e+07,2.873724e+10,2.610406e+11,10.795278,42946.490056,5.864414,78516.833333,21
77,Hungary,4.407365e+07,6.532177e+09,1.362300e+11,4.801365,27573.116211,5.218141,17508.444444,22
43,Croatia,4.984129e+07,8.931797e+09,5.624368e+10,15.982883,23286.432579,4.697175,3889.500000,23
138,Poland,7.004006e+07,1.090780e+10,4.629033e+11,2.360404,29302.003333,8.411759,44445.117647,24
85,Italy,7.409151e+07,4.241580e+10,2.028433e+12,2.091587,33111.542167,6.975174,51322.777778,25
113,Mexico,8.791818e+07,1.563088e+10,1.122788e+12,1.388740,18583.608111,4.103036,97678.500000,26
158,Spain,9.992671e+07,6.655021e+10,1.321116e+12,4.833591,36468.530389,6.464624,15680.000000,27
36,China,1.283656e+08,2.323100e+10,7.865838e+12,1.273088,22115.587167,6.262648,78077.000000,28
182,United States,1.516961e+08,1.669443e+11,1.674817e+13,1.002926,82697.688526,17.689409,121791.444444,29
62,France,1.944004e+08,6.069354e+10,2.572769e+12,2.365996,46578.259444,5.785815,33210.933333,30

In [93]:
topa30_arrivals_2004_2021 = topa30_arrivals_2004_2021.sort_values(by='revenue_dollars', ascending=False)
topa30_arrivals_2004_2021 = topa30_arrivals_2004_2021.head(30)
topa30_arrivals_2004_2021 = topa30_arrivals_2004_2021.sort_values(by='revenue_dollars', ascending=True)
topa30_arrivals_2004_2021['revenue_rank'] = range(1, 31)

In [94]:
topa30_arrivals_2004_2021

,country,arrivals,revenue_dollars,gdp_dollars,percent_of_gdp,primary_energy_consumption_per_capita_kwh/person,annual_co2_emissions_per_capita),tourist_departures,arrival_rank,revenue_rank
153,Slovak Republic,1.452600e+07,2.236474e+09,9.013263e+10,2.459419,36747.036474,6.945356,3298.066667,5,1
179,Ukraine,1.914953e+07,3.518111e+09,1.296522e+11,2.716776,28847.772667,6.088169,21470.428571,7,2
77,Hungary,4.407365e+07,6.532177e+09,1.362300e+11,4.801365,27573.116211,5.218141,17508.444444,22,3
45,Czechia,2.723188e+07,7.118441e+09,1.981511e+11,3.668023,47606.346778,10.908510,6745.833333,16,4
46,Denmark,2.689124e+07,8.059334e+09,3.216979e+11,2.503752,38060.387737,7.782570,7121.222222,15,5
157,South Africa,1.143315e+07,8.667282e+09,3.537537e+11,2.509022,26451.693684,8.487700,NaN,1,6
43,Croatia,4.984129e+07,8.931797e+09,5.624368e+10,15.982883,23286.432579,4.697175,3889.500000,23,7
147,Saudi Arabia,1.673494e+07,9.964933e+09,5.823228e+11,1.559263,82505.545056,17.771575,16440.062500,6,8
138,Poland,7.004006e+07,1.090780e+10,4.629033e+11,2.360404,29302.003333,8.411759,44445.117647,24,9
143,Russian Federation,2.419394e+07,1.338244e+10,1.452631e+12,0.958433,54990.027111,11.314216,35778.555556,13,10
152,Singapore,1.273556e+07,1.356138e+10,2.537183e+11,5.457517,145047.570833,8.840450,7316.888889,2,11
180,United Arab Emirates,1.974500e+07,1.498390e+10,3.159100e+11,4.189624,136910.315278,24.113671,16635.833333,8,12
68,Greece,2.279118e+07,1.559901e+10,2.461326e+11,6.581500,32479.072579,8.139278,5443.153846,10,13
113,Mexico,8.791818e+07,1.563088e+10,1.122788e+12,1.388740,18583.608111,4.103036,97678.500000,26,14
107,Malaysia,2.226588e+07,1.718617e+10,2.599839e+11,6.820322,34202.777333,7.240672,31481.000000,9,15
123,Netherlands,1.276082e+07,1.964453e+10,8.335695e+11,2.342255,63581.916526,9.887852,18388.529412,3,16
9,Austria,2.382524e+07,1.998224e+10,3.975921e+11,5.036527,48373.322158,8.265923,9867.777778,12,17
87,Japan,1.354752e+07,2.094362e+10,5.099419e+12,0.416076,44325.161722,9.632698,16317.777778,4,18
32,Canada,2.937788e+07,2.099849e+10,1.556232e+12,1.356677,112214.084263,16.351894,53301.071429,18,19
36,China,1.283656e+08,2.323100e+10,7.865838e+12,1.273088,22115.587167,6.262648,78077.000000,28,20
104,"Macao SAR, China",2.625612e+07,2.430389e+10,3.321167e+10,69.904492,19805.076778,2.576820,1053.937500,14,21
76,"Hong Kong SAR, China",4.108571e+07,2.873724e+10,2.610406e+11,10.795278,42946.490056,5.864414,78516.833333,21,22
174,Turkiye,3.302153e+07,2.916606e+10,7.296817e+11,3.749362,18179.655389,4.501708,6950.833333,20,23
169,Thailand,2.283375e+07,3.200917e+10,3.517589e+11,8.706141,17874.019333,3.613229,5719.117647,11,24
85,Italy,7.409151e+07,4.241580e+10,2.028433e+12,2.091587,33111.542167,6.975174,51322.777778,25,25
66,Germany,2.869441e+07,4.644549e+10,3.461573e+12,1.345946,46805.655222,9.915572,87730.235294,17,26
181,United Kingdom,3.287218e+07,5.207804e+10,2.699111e+12,1.883839,38127.465056,7.539518,69882.500000,19,27
62,France,1.944004e+08,6.069354e+10,2.572769e+12,2.365996,46578.259444,5.785815,33210.933333,30,28
158,Spain,9.992671e+07,6.655021e+10,1.321116e+12,4.833591,36468.530389,6.464624,15680.000000,27,29
182,United States,1.516961e+08,1.669443e+11,1.674817e+13,1.002926,82697.688526,17.689409,121791.444444,29,30

In [95]:
topa30_arrivals_2004_2021.columns

Index(['country', 'arrivals', 'revenue_dollars', 'gdp_dollars',
       'percent_of_gdp', 'primary_energy_consumption_per_capita_kwh/person',
       'annual_co2_emissions_per_capita)', 'tourist_departures',
       'arrival_rank', 'revenue_rank'],
      dtype='object')

In [96]:
topa30_arrivals_2004_2021.to_csv('./data_visu/top30_arrivals_2004_2021.csv', index=False)

In [122]:
topa30_arrivals_2004_2021['country'].unique()

array(['Slovak Republic', 'Ukraine', 'Hungary', 'Czechia', 'Denmark',
       'South Africa', 'Croatia', 'Saudi Arabia', 'Poland',
       'Russian Federation', 'Singapore', 'United Arab Emirates',
       'Greece', 'Mexico', 'Malaysia', 'Netherlands', 'Austria', 'Japan',
       'Canada', 'China', 'Macao SAR, China', 'Hong Kong SAR, China',
       'Turkiye', 'Thailand', 'Italy', 'Germany', 'United Kingdom',
       'France', 'Spain', 'United States'], dtype=object)

In [144]:
demography = pd.read_csv('../data/to use/demography.csv')

In [145]:
demography = demography[['code','year','population_size_in_millions']]

In [153]:
demography['code'].unique()

array(['AFG', 'ALB', 'DZA', 'AND', 'AGO', 'ATG', 'ARG', 'ARM', 'ABW',
       'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR', 'BEL',
       'BLZ', 'BEN', 'BMU', 'BTN', 'BOL', 'BIH', 'BWA', 'BRA', 'BRN',
       'BGR', 'BFA', 'MMR', 'BDI', 'KHM', 'CMR', 'CAN', 'CPV', 'CAF',
       'TCD', 'CHL', 'CHN', 'COL', 'COM', 'CRC', 'HRV', 'CYP', 'CZE',
       'COD', 'DNK', 'DJI', 'DMA', 'DOM', 'ECU', 'EGY', 'SLV', 'GNQ',
       'ERI', 'EST', 'ETH', 'FRO', 'FJI', 'FIN', 'FRA', 'GAB', 'GMB',
       'GEO', 'DEU', 'GHA', 'GIB', 'GRC', 'GRD', 'GTM', 'GIN', 'GNB',
       'GUY', 'HTI', 'HND', 'HKG', 'HUN', 'ISL', 'IND', 'IDN', 'IRN',
       'IRQ', 'IRL', 'ISR', 'ITA', 'CIV', 'JAM', 'JPN', 'JOR', 'KAZ',
       'KEN', 'KIR', 'KWT', 'KGZ', 'LAO', 'LVA', 'LBN', 'LSO', 'LBR',
       'LBY', 'LIE', 'LTU', 'LUX', 'MAC', 'MDG', 'MWI', 'MYS', 'MDV',
       'MLI', 'MLT', 'MRT', 'MUS', 'MEX', 'FSM', 'MDA', 'MCO', 'MNG',
       'MNE', 'MAR', 'MOZ', 'NAM', 'NPL', 'NLD', 'NCL', 'NZL', 'NIC',
       'NER', 'NGA', 'PRK', 'MKD', 'NOR', 'OMN', 'PAK', 'PLW', 'PS',
       'PAN', 'PNG', 'PRY', 'PER', 'PHL', 'POL', 'PRT', 'PRI', 'QAT',
       'COG', 'ROU', 'RUS', 'RWA', 'LCA', 'VCT', 'WSM', 'SMR', 'STP',
       'SAU', 'SEN', 'SRB', 'SYC', 'SLE', 'SGP', 'SVK', 'SVN', 'SLB',
       'SOM', 'ZAF', 'KOR', 'ESP', 'LKA', 'SDN', 'SUR', 'SWZ', 'SWE',
       'CHE', 'SYR', 'TJK', 'TZA', 'THA', 'TGO', 'TON', 'TTO', 'TUN',
       'TUR', 'TKM', 'TUV', 'UGA', 'UKR', 'ARE', 'GBR', 'URY', 'USA',
       'UZB', 'VUT', 'VEN', 'VNM', 'YEM', 'ZMB', 'ZWE'], dtype=object)

In [154]:
country_code_mapping = {
    'Slovak Republic': 'SVK', 'Ukraine': 'UKR', 'Hungary': 'HUN', 'Czechia': 'CZE', 'Denmark': 'DNK',
    'South Africa': 'ZAF', 'Croatia': 'HRV', 'Saudi Arabia': 'SAU', 'Poland': 'POL',
    'Russian Federation': 'RUS', 'Singapore': 'SGP', 'United Arab Emirates': 'ARE',
    'Greece': 'GRC', 'Mexico': 'MEX', 'Malaysia': 'MYS', 'Netherlands': 'NLD', 'Austria': 'AUT', 'Japan': 'JPN',
    'Canada': 'CAN', 'China': 'CHN', 'Macao SAR, China': 'MAC', 'Hong Kong SAR, China': 'HKG',
    'Turkiye': 'TUR', 'Thailand': 'THA', 'Italy': 'ITA', 'Germany': 'DEU', 'United Kingdom': 'GBR',
    'France': 'FRA', 'Spain': 'ESP', 'United States': 'USA'
}

topa30_arrivals_2004_2021['code'] = topa30_arrivals_2004_2021['country'].map(country_code_mapping)

In [155]:
demography_mean = demography.groupby('code').mean().reset_index()

In [156]:
demography_mean = demography_mean.drop(columns=['year'])

In [157]:
demography_mean

    code  population_size_in_millions
0    ABW                     0.102105
1    AFG                    31.788421
2    AGO                    26.537368
3    ALB                     2.903684
4    AND                     0.075263
..   ...                          ...
191  WSM                     0.201053
192  YEM                    27.068947
193  ZAF                    54.064737
194  ZMB                    15.369474
195  ZWE                    13.825263

[196 rows x 2 columns]

In [197]:
topa30_arrivals_2004_2021_2 = pd.merge(topa30_arrivals_2004_2021,demography_mean, on=['code'],how='left')
topa30_arrivals_2004_2021_2.to_csv('./data_visu/top30_arrivals_2004_2021_2.csv', index=False)

In [212]:
legend = pd.read_csv('./data_visu/01_tourism_revenus_gdp/legend.csv', sep=';')

In [213]:
legend['arrivals'] = legend['arrivals'].str.replace(',','')

In [214]:
legend['population_size_in_millions'] = legend['population_size_in_millions'].str.replace(',','')

In [215]:
legend['revenue_dollars'] = legend['revenue_dollars']*1000

In [216]:
legend['gdp_dollars'] = legend['gdp_dollars']*1000

In [217]:
legend['tourist_departures'] = legend['tourist_departures'].str.replace(',','').str.replace('.','')

In [218]:
legend.to_csv('./data_visu/01_tourism_revenus_gdp/legend.csv', index=False)

In [226]:
tourism_arrival_departure_topcountries = tourism_arrival_departure[tourism_arrival_departure['country'].isin(top30_countries)]

In [227]:
tourism_arrival_departure_topcountries

,Unnamed: 0,country,code,year,arrivals,revenue_dollars,gdp_dollars,percent_of_gdp,entity,primary_energy_consumption_per_capita_kwh/person,annual_co2_emissions_per_capita),tourist_departures
207,207,Croatia,HRV,2019,60021000.0,1.199417e+10,6.147000e+10,19.512235,Croatia,23200.729,4.324099,3500.0
223,223,Croatia,HRV,2018,57668000.0,1.142533e+10,6.148000e+10,18.583814,Croatia,23593.492,4.260114,2980.0
226,226,Croatia,HRV,2003,NaN,6.513000e+09,3.525000e+10,18.476596,Croatia,23832.379,5.203406,NaN
232,232,Croatia,HRV,2017,59238000.0,1.025417e+10,5.606000e+10,18.291425,Croatia,22608.020,4.470874,2597.0
254,254,Croatia,HRV,2016,57587000.0,9.107381e+09,5.251000e+10,17.344089,Croatia,22428.080,4.287427,2581.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3352,3352,United Kingdom,GBR,2004,27755000.0,NaN,2.421530e+12,NaN,United Kingdom,44856.600,9.557823,64194.0
3353,3353,United Kingdom,GBR,2005,29970000.0,NaN,2.543180e+12,NaN,United Kingdom,44937.305,9.445230,66494.0
3354,3354,United Kingdom,GBR,2006,32713000.0,NaN,2.708440e+12,NaN,United Kingdom,44057.820,9.338998,69536.0
3355,3355,United Kingdom,GBR,2007,32778000.0,NaN,3.090510e+12,NaN,United Kingdom,42517.130,9.134187,69450.0
3356,3356,United Kingdom,GBR,2020,11101000.0,NaN,2.697810e+12,NaN,United Kingdom,29425.540,4.865282,23827.0