In [2]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt 
import seaborn as sns

In [3]:
tourism = pd.read_csv('./data/tourism.csv')

In [4]:
tourism.head()

,Country,Code,ContinentCode,Year,Tourist arrivals,International tourism revenue,International tourism revenue percent of GDP,Percent of world tourist arrivals,Tourist departures
0,Afghanistan,AFG,AS,2008,NaN,57.0,0.56,NaN,NaN
1,Afghanistan,AFG,AS,2009,NaN,89.0,0.72,NaN,NaN
2,Afghanistan,AFG,AS,2010,NaN,147.0,0.93,NaN,NaN
3,Afghanistan,AFG,AS,2011,NaN,165.0,0.93,NaN,NaN
4,Afghanistan,AFG,AS,2012,NaN,167.0,0.84,NaN,NaN

In [5]:
tourism.isnull().sum()

Country                                            0
Code                                               0
ContinentCode                                    621
Year                                               0
Tourist arrivals                                 384
International tourism revenue                    832
International tourism revenue percent of GDP     836
Percent of world tourist arrivals                384
Tourist departures                              2444
dtype: int64

In [6]:
tourism.columns = ['country','code','continentcode','year', 'arrivals','international_revenue'
                   ,'international_revenue_percent_of_gdp','percent_world_arrival','departures']

In [7]:
tourism

,country,code,continentcode,year,arrivals,international_revenue,international_revenue_percent_of_gdp,percent_world_arrival,departures
0,Afghanistan,AFG,AS,2008,NaN,57.0,0.56,NaN,NaN
1,Afghanistan,AFG,AS,2009,NaN,89.0,0.72,NaN,NaN
2,Afghanistan,AFG,AS,2010,NaN,147.0,0.93,NaN,NaN
3,Afghanistan,AFG,AS,2011,NaN,165.0,0.93,NaN,NaN
4,Afghanistan,AFG,AS,2012,NaN,167.0,0.84,NaN,NaN
...,...,...,...,...,...,...,...,...,...
4738,Zimbabwe,ZWE,AF,2016,2168.0,194.0,0.94,0.11,3192.0
4739,Zimbabwe,ZWE,AF,2017,2423.0,158.0,0.90,0.11,2768.0
4740,Zimbabwe,ZWE,AF,2018,2580.0,191.0,0.56,0.12,2288.0
4741,Zimbabwe,ZWE,AF,2019,2294.0,285.0,1.31,0.10,3275.0
4742,Zimbabwe,ZWE,AF,2020,639.0,66.0,0.31,0.11,NaN

In [8]:
# filter for only years from 2010
tourism = tourism.loc[tourism["year"] >= 2010 ]

In [9]:
tourism.to_csv('./data/00_tourism_2010.csv')

In [10]:
arrival_null = tourism[tourism['arrivals'].isnull()]
arrival_null

,country,code,continentcode,year,arrivals,international_revenue,international_revenue_percent_of_gdp,percent_world_arrival,departures
2,Afghanistan,AFG,AS,2010,NaN,147.0,0.93,NaN,NaN
3,Afghanistan,AFG,AS,2011,NaN,165.0,0.93,NaN,NaN
4,Afghanistan,AFG,AS,2012,NaN,167.0,0.84,NaN,NaN
5,Afghanistan,AFG,AS,2013,NaN,179.0,0.89,NaN,NaN
6,Afghanistan,AFG,AS,2014,NaN,121.0,0.59,NaN,NaN
...,...,...,...,...,...,...,...,...,...
4497,United Arab Emirates,ARE,AS,2013,NaN,12389.0,3.10,NaN,NaN
4498,United Arab Emirates,ARE,AS,2014,NaN,15221.0,3.68,NaN,NaN
4556,Uruguay,URY,SA,2020,NaN,1085.0,2.02,NaN,NaN
4608,Uzbekistan,UZB,AS,2020,NaN,395.0,0.66,NaN,NaN
4690,Yemen,YEM,AS,2016,NaN,116.0,0.37,NaN,NaN

In [11]:
arrival_null = arrival_null.groupby(['year','country','code','continentcode']).mean()

In [12]:
arrival_null

                                     arrivals  international_revenue  \
year country     code continentcode
2010 Afghanistan AFG  AS                  NaN                  147.0
     Benin       BEN  AF                  NaN                  149.0
     Botswana    BWA  AF                  NaN                  440.0
     Gabon       GAB  AF                  NaN                   89.0
     Greece      GRC  EU                  NaN                13857.0
...                                       ...                    ...
2020 Tajikistan  TJK  AS                  NaN                  102.0
     Thailand    THA  AS                  NaN                15360.0
     Tonga       TON  OC                  NaN                   48.0
     Uruguay     URY  SA                  NaN                 1085.0
     Uzbekistan  UZB  AS                  NaN                  395.0

                                     international_revenue_percent_of_gdp  \
year country     code continentcode
2010 Afghanistan AFG  AS                                             0.93
     Benin       BEN  AF                                             1.57
     Botswana    BWA  AF                                             3.48
     Gabon       GAB  AF                                             0.62
     Greece      GRC  EU                                             4.66
...                                                                   ...
2020 Tajikistan  TJK  AS                                             1.26
     Thailand    THA  AS                                             3.07
     Tonga       TON  OC                                             9.84
     Uruguay     URY  SA                                             2.02
     Uzbekistan  UZB  AS                                             0.66

                                     percent_world_arrival  departures
year country     code continentcode
2010 Afghanistan AFG  AS                               NaN         NaN
     Benin       BEN  AF                               NaN         NaN
     Botswana    BWA  AF                               NaN         NaN
     Gabon       GAB  AF                               NaN         NaN
     Greece      GRC  EU                               NaN      3799.0
...                                                    ...         ...
2020 Tajikistan  TJK  AS                               NaN         NaN
     Thailand    THA  AS                               NaN         NaN
     Tonga       TON  OC                               NaN         NaN
     Uruguay     URY  SA                               NaN         NaN
     Uzbekistan  UZB  AS                               NaN         NaN

[129 rows x 5 columns]

In [13]:
arrival_null.isnull().sum()

arrivals                                129
international_revenue                     0
international_revenue_percent_of_gdp      0
percent_world_arrival                   129
departures                              118
dtype: int64

In [14]:
tourism.isnull().sum()

country                                   0
code                                      0
continentcode                           261
year                                      0
arrivals                                131
international_revenue                   338
international_revenue_percent_of_gdp    340
percent_world_arrival                   131
departures                              957
dtype: int64

In [15]:
tourism_drop = tourism.drop(['continentcode','code'], axis=1)

In [16]:
top50_revenue = tourism_drop.groupby(['country']).mean().sort_values('international_revenue', ascending=False).head(60)
top50_revenue

,year,arrivals,international_revenue,international_revenue_percent_of_gdp,percent_world_arrival,departures
country,,,,,,
USA,2015.000000,158641.363636,202748.818182,1.123636,8.832727,127501.727273
France,2015.000000,195959.454545,63337.181818,2.360909,11.520909,34209.727273
Germany,2015.000000,31734.000000,54488.500000,1.486000,1.784545,89894.000000
Italy,2015.000000,78437.363636,42421.333333,2.170000,4.502727,53531.909091
Thailand,2015.000000,28501.600000,41907.454545,9.618182,1.463000,7335.600000
Hong Kong,2015.000000,49160.818182,37976.200000,12.808000,2.598182,80981.909091
Australia,2015.000000,6915.454545,37176.181818,2.710909,0.376364,8966.000000
Macao,2015.000000,28843.909091,33547.454545,73.870000,1.567273,1246.636364
Turkey,2015.000000,37526.454545,32029.181818,3.797273,2.130909,7268.818182
Japan,2015.000000,16965.454545,25940.000000,0.508182,0.890909,16356.909091
India,2015.000000,11747.200000,22757.333333,0.981111,0.594000,19626.000000
Austria,2015.000000,25579.181818,21751.666667,5.161667,1.492727,10267.545455
United Arab Emirates,2015.000000,19745.000000,21627.545455,5.603636,1.095000,16635.833333
Malaysia,2015.000000,23833.454545,19724.363636,6.236364,1.301818,NaN
Netherlands,2015.000000,14136.727273,19351.888889,2.260000,0.806364,19105.400000
Switzerland,2015.000000,9822.600000,19338.272727,2.772727,0.513000,20575.200000
Canada,2014.500000,27921.200000,19217.000000,1.125000,1.462000,55004.100000
South Korea,2015.000000,12299.090909,19033.272727,1.306364,0.664545,18156.454545
Singapore,2015.000000,14490.727273,18351.333333,5.954444,0.782727,8346.636364
Mexico,2015.000000,83630.727273,17476.000000,1.425455,4.903636,85508.545455
Portugal,2015.000000,10853.454545,17322.727273,7.645455,0.597273,1849.777778
Greece,2015.000000,25401.625000,16909.090909,7.634545,1.355000,5741.909091
Russia,2015.000000,25147.454545,15418.363636,0.884545,1.397273,39664.818182
Poland,2015.000000,74901.900000,12241.272727,2.323636,3.905000,45700.000000
Qatar,2015.000000,2200.454545,11639.600000,6.857000,0.123636,NaN
Indonesia,2015.000000,10260.909091,11559.272727,1.215455,0.569091,7816.818182
Belgium,2015.000000,7552.545455,11456.636364,2.248182,0.423636,10853.272727
Saudi Arabia,2015.000000,19078.200000,11420.909091,1.570000,1.001000,23547.300000
Ireland,2015.000000,9123.000000,10991.000000,3.760909,0.474000,6956.000000
Sweden,2015.000000,7995.909091,10674.000000,2.150000,0.446364,16800.500000
Croatia,2015.000000,50695.727273,9410.272727,16.220909,2.879091,3745.800000
South Africa,2015.000000,13004.818182,9308.272727,2.381818,0.720909,NaN
Egypt,2015.000000,10284.100000,9017.090909,3.286364,0.547000,5424.200000
New Zealand,2015.000000,2943.000000,8640.888889,4.641111,0.162727,2310.636364
Morocco,2015.000000,10125.545455,8345.000000,7.248182,0.559091,1920.181818
Czechia,2015.000000,29429.300000,7474.545455,3.431818,1.528000,6054.181818
Vietnam,2015.000000,9234.636364,7413.818182,3.059091,0.508182,NaN
Hungary,2015.000000,47388.181818,7369.272727,5.205455,2.791818,18008.818182
Lebanon,2015.000000,1678.100000,7125.181818,15.262727,0.088000,NaN
Denmark,2015.000000,27332.272727,7121.777778,2.140000,1.593636,7858.363636
Israel,2015.000000,3645.300000,6446.727273,2.044545,0.189000,6086.400000
Philippines,2015.000000,5098.636364,6282.363636,2.044545,0.278182,3947.250000
Norway,2015.000000,4948.909091,6278.363636,1.423636,0.273636,7916.363636
Brazil,2015.000000,6093.000000,6117.818182,0.292727,0.318000,8981.333333
Dominican Republic,2015.000000,5706.000000,5722.888889,8.305556,0.324545,436.545455
Luxembourg,2015.000000,944.181818,5448.636364,8.440909,0.056364,1823.000000
Argentina,2015.000000,6821.100000,5296.727273,1.013636,0.360000,12907.000000
Panama,2015.000000,2127.272727,5172.727273,10.047273,0.117273,750.636364
Jordan,2015.000000,5186.727273,4974.363636,13.559091,0.291818,1548.100000
Colombia,2015.000000,3034.363636,4881.090909,1.510000,0.168182,3395.000000
Finland,2015.000000,3056.090909,4855.727273,1.855455,0.174545,9036.363636
Bulgaria,2015.000000,9633.181818,4097.363636,7.074545,0.552727,4841.454545
Syria,2015.166667,4001.000000,4062.000000,2.595000,0.228333,6259.000000
Iran,2015.000000,4805.545455,3810.444444,0.845556,0.261818,7110.166667
Peru,2015.000000,3984.545455,3569.363636,1.810000,0.218182,2423.363636
Puerto Rico,2015.000000,4500.909091,3436.363636,3.355455,0.275455,842.375000
Ukraine,2015.000000,16884.909091,3203.636364,2.177273,0.950909,22787.181818
Sri Lanka,2015.000000,1586.545455,3182.181818,3.755455,0.088182,1242.545455
Cambodia,2015.000000,4290.363636,3176.000000,17.089091,0.235455,1143.090909
Costa Rica,2015.000000,2738.545455,3175.363636,5.906364,0.154545,854.636364

In [17]:
#no missing values in international_revenue so checking on country with most revenue

top50_revenue = tourism_drop.groupby(['country']).mean().sort_values('international_revenue_percent_of_gdp', ascending=False).head(50)
top50_revenue

,year,arrivals,international_revenue,international_revenue_percent_of_gdp,percent_world_arrival,departures
country,,,,,,
Macao,2015.0,28843.909091,33547.454545,73.870000,1.567273,1246.636364
Maldives,2015.0,1151.181818,2496.700000,62.320000,0.065455,NaN
Andorra,2015.0,7791.272727,1910.000000,60.540000,0.465455,NaN
Aruba,2015.0,1705.100000,1604.272727,55.563636,0.090000,NaN
Antigua and Barbuda,2015.0,845.000000,790.142857,51.802857,0.048182,NaN
Palau,2015.0,109.545455,119.250000,49.418750,0.007273,NaN
Seychelles,2015.0,278.363636,468.727273,35.011818,0.015455,55.818182
Saint Lucia,2015.0,962.909091,616.555556,34.057778,0.053636,NaN
Vanuatu,2015.0,286.727273,260.181818,32.694545,0.016364,24.000000
Grenada,2015.0,420.636364,305.333333,30.545556,0.023636,NaN
Dominica,2015.0,331.545455,138.444444,26.266667,0.020000,NaN
Saint Vincent and the Grenadines,2015.0,252.900000,199.571429,23.798571,0.012000,NaN
Bahamas,2015.0,5766.727273,2618.090909,22.915455,0.321818,NaN
Fiji,2015.0,797.363636,1023.909091,22.401818,0.041818,152.142857
Cape Verde,2015.0,516.090909,427.000000,21.458182,0.029091,NaN
Barbados,2014.5,1166.800000,987.857143,21.104286,0.060000,NaN
Montenegro,2015.0,1478.545455,923.090909,19.921818,0.078182,NaN
Samoa,2015.0,133.636364,142.818182,17.464545,0.009091,53.800000
Cambodia,2015.0,4290.363636,3176.000000,17.089091,0.235455,1143.090909
Croatia,2015.0,50695.727273,9410.272727,16.220909,2.879091,3745.800000
Lebanon,2015.0,1678.100000,7125.181818,15.262727,0.088000,NaN
Sao Tome and Principe,2014.0,22.833333,44.333333,15.222222,0.000000,NaN
Jamaica,2015.0,3425.454545,2077.500000,15.055000,0.192727,NaN
Albania,2015.0,4069.818182,1840.363636,13.999091,0.236364,4398.363636
Mauritius,2015.0,1092.727273,1699.545455,13.564545,0.061818,235.000000
Jordan,2015.0,5186.727273,4974.363636,13.559091,0.291818,1548.100000
Hong Kong,2015.0,49160.818182,37976.200000,12.808000,2.598182,80981.909091
Georgia,2015.0,4762.000000,2022.636364,12.384545,0.260000,3124.800000
Cyprus,2015.0,3085.200000,2656.727273,11.131818,0.158000,1279.100000
Panama,2015.0,2127.272727,5172.727273,10.047273,0.117273,750.636364
Thailand,2015.0,28501.600000,41907.454545,9.618182,1.463000,7335.600000
Tonga,2015.0,73.400000,43.272727,9.519091,0.000000,NaN
Armenia,2015.0,1141.909091,967.181818,8.540000,0.061818,1117.545455
Luxembourg,2015.0,944.181818,5448.636364,8.440909,0.056364,1823.000000
Dominican Republic,2015.0,5706.000000,5722.888889,8.305556,0.324545,436.545455
Bahrain,2015.0,9325.272727,2646.818182,7.989091,0.509091,3397.600000
Portugal,2015.0,10853.454545,17322.727273,7.645455,0.597273,1849.777778
Greece,2015.0,25401.625000,16909.090909,7.634545,1.355000,5741.909091
Estonia,2015.0,5221.636364,1966.125000,7.311250,0.290909,1267.727273
Morocco,2015.0,10125.545455,8345.000000,7.248182,0.559091,1920.181818
Bulgaria,2015.0,9633.181818,4097.363636,7.074545,0.552727,4841.454545
Gambia,2015.0,320.000000,104.545455,6.941818,0.019091,NaN
Qatar,2015.0,2200.454545,11639.600000,6.857000,0.123636,NaN
Tuvalu,2014.5,2.100000,2.250000,6.670000,0.000000,2.000000
Bermuda,2015.0,595.181818,440.300000,6.485000,0.031818,NaN
Kyrgyzstan,2015.0,4344.300000,456.000000,6.290000,0.221000,4059.900000
Malaysia,2015.0,23833.454545,19724.363636,6.236364,1.301818,NaN
Singapore,2015.0,14490.727273,18351.333333,5.954444,0.782727,8346.636364
Costa Rica,2015.0,2738.545455,3175.363636,5.906364,0.154545,854.636364
Slovenia,2015.0,2962.909091,2834.818182,5.761818,0.165455,4824.272727

In [22]:
#because some missing values on 2020, calculate top50 without 2020
tourism_arrivals = tourism_drop.loc[tourism_drop["year"] >= 2019 ]

top_arrivals = tourism_arrivals.groupby(['country']).mean().sort_values('arrivals', ascending=False).head(60)
top_arrivals

,year,arrivals,international_revenue,international_revenue_percent_of_gdp,percent_world_arrival,departures
country,,,,,,
France,2019.5,167493.0,53367.0,1.975,14.530,35281.5
USA,2019.5,105257.5,161826.0,0.760,7.420,115740.0
China,2019.5,96470.0,NaN,NaN,6.150,87483.0
Poland,2019.5,88515.0,12045.5,2.020,3.970,50600.0
Spain,2019.5,81290.0,NaN,NaN,5.830,14526.0
Mexico,2019.5,74267.0,18648.0,1.500,6.395,59404.0
Italy,2019.5,66909.0,36184.5,1.830,5.305,41827.5
Hungary,2019.5,46519.0,7224.5,4.460,3.980,18793.5
Croatia,2019.5,40814.5,8803.0,14.615,3.125,2089.0
Thailand,2019.5,39916.0,39865.5,7.450,1.790,10446.0
Czechia,2019.5,37202.0,5928.5,2.365,1.670,4872.5
Turkey,2019.5,33859.0,27593.0,3.675,2.475,5947.0
Canada,2019.0,32430.0,NaN,NaN,1.450,37846.0
Hong Kong,2019.5,29741.0,32697.0,9.010,1.550,51488.0
Germany,2019.5,26006.0,58372.0,1.500,1.910,99533.0
United Kingdom,2019.5,25979.0,NaN,NaN,1.830,58456.5
Denmark,2019.5,24344.0,NaN,NaN,2.025,6659.0
Austria,2019.5,23487.5,20643.0,4.680,1.960,7933.0
Macao,2019.5,22651.5,25304.0,56.000,1.370,945.0
Greece,2019.5,20705.5,14598.0,7.250,1.375,5086.0
Saudi Arabia,2019.5,20292.0,12904.5,1.590,0.910,27196.0
Japan,2019.5,17998.5,30302.0,0.595,1.055,11627.5
India,2019.5,17914.0,22537.0,0.810,0.800,26915.0
United Arab Emirates,2019.5,16683.0,31514.0,8.115,1.230,12682.0
Russia,2019.5,15389.0,11098.0,0.675,1.075,28845.5
Malaysia,2019.5,15217.0,12793.0,3.540,0.940,NaN
Netherlands,2019.5,13697.0,17325.0,1.905,1.050,22045.0
Egypt,2019.5,13026.0,9565.0,2.870,0.580,NaN
Switzerland,2019.5,11818.0,15625.5,2.150,0.530,19797.0
Ireland,2019.5,10951.0,9484.0,2.340,0.490,5838.0
Singapore,2019.5,10929.0,NaN,NaN,0.655,6127.0
Vietnam,2019.5,10923.0,7531.0,2.235,0.720,NaN
Portugal,2019.5,10745.5,17557.0,7.420,0.735,1890.0
Indonesia,2019.5,10080.0,10969.0,0.985,0.695,7303.5
South Korea,2019.5,10011.0,18616.0,1.130,0.605,16495.0
South Africa,2019.5,9342.0,5890.0,1.565,0.650,NaN
Romania,2019.5,8919.0,2925.5,1.165,0.700,16288.0
Bulgaria,2019.5,8762.5,3312.0,4.780,0.690,5490.0
Ukraine,2019.5,8546.0,1641.0,1.065,0.590,20298.5
Kyrgyzstan,2019.5,8508.0,451.5,4.960,0.380,5314.0
Morocco,2019.5,7955.5,7231.5,5.720,0.525,1327.5
Belarus,2019.5,7715.0,916.0,1.440,0.560,6015.5
Argentina,2019.5,7399.0,3678.0,0.850,0.330,15352.0
Uzbekistan,2019.5,6749.0,1037.0,1.725,0.300,8437.0
Andorra,2019.5,6721.0,1910.0,60.540,0.615,NaN
Bahrain,2019.5,6485.0,2292.0,6.040,0.405,2950.0
Brazil,2019.5,6353.0,4613.0,0.270,0.280,NaN
Belgium,2019.5,5963.5,9014.0,1.695,0.425,10020.5
Latvia,2019.5,5773.0,NaN,NaN,0.450,1537.0
Tunisia,2019.5,5720.5,1845.0,4.385,0.375,1760.0
Australia,2019.5,5647.0,37093.5,2.705,0.360,7228.0
Chile,2019.5,5431.0,2156.5,0.795,0.240,4091.0
Kuwait,2019.5,5363.0,861.0,0.685,0.370,NaN
Iran,2019.5,5328.5,NaN,NaN,0.335,1550.0
Kazakhstan,2019.5,5275.0,1755.5,0.975,0.360,6786.0
Dominican Republic,2019.5,5149.0,NaN,NaN,0.395,371.0
Israel,2019.5,4905.0,5560.0,1.370,0.220,9179.0
Philippines,2019.5,4872.0,7112.0,1.905,0.305,1483.0
Sweden,2019.5,4786.5,NaN,NaN,0.330,12571.0
Georgia,2019.5,4619.5,2068.5,12.015,0.300,3780.0

In [25]:
#name top 60 arrival countries

top_arrivals.index.unique()

Index(['France', 'USA', 'China', 'Poland', 'Spain', 'Mexico', 'Italy',
       'Hungary', 'Croatia', 'Thailand', 'Czechia', 'Turkey', 'Canada',
       'Hong Kong', 'Germany', 'United Kingdom', 'Denmark', 'Austria', 'Macao',
       'Greece', 'Saudi Arabia', 'Japan', 'India', 'United Arab Emirates',
       'Russia', 'Malaysia', 'Netherlands', 'Egypt', 'Switzerland', 'Ireland',
       'Singapore', 'Vietnam', 'Portugal', 'Indonesia', 'South Korea',
       'South Africa', 'Romania', 'Bulgaria', 'Ukraine', 'Kyrgyzstan',
       'Morocco', 'Belarus', 'Argentina', 'Uzbekistan', 'Andorra', 'Bahrain',
       'Brazil', 'Belgium', 'Latvia', 'Tunisia', 'Australia', 'Chile',
       'Kuwait', 'Iran', 'Kazakhstan', 'Dominican Republic', 'Israel',
       'Philippines', 'Sweden', 'Georgia'],
      dtype='object', name='country')

In [90]:
gdp = pd.read_csv('./data/gdp_and_economic_growth.csv')
gdp

,Country,Code,ContinentCode,Year,Economic growth: the rate of change of real GDP,Gross Domestic Product billions of 2010 U.S. dollars,Gross Domestic Product billions of U.S. dollars,GDP per capita current U.S. dollars,GDP per capita Purchasing Power Parity,GDP per capita constant 2010 dollars,GDP per hour worked index relative to the U.S.,GDP per hour worked in current USD PPP adjusted
0,Afghanistan,AFG,AS,2003,8.83,7.9,4.52,199.64,1292.0,347.42,NaN,NaN
1,Afghanistan,AFG,AS,2004,1.41,8.0,5.22,221.83,1260.0,338.74,NaN,NaN
2,Afghanistan,AFG,AS,2005,11.23,8.9,6.20,254.12,1352.0,363.54,NaN,NaN
3,Afghanistan,AFG,AS,2006,5.36,9.3,6.97,274.02,1367.0,367.49,NaN,NaN
4,Afghanistan,AFG,AS,2007,13.83,10.6,9.75,376.32,1528.0,410.86,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3838,Zimbabwe,ZWE,AF,2018,5.01,22.0,34.16,2269.18,2400.0,1462.59,NaN,NaN
3839,Zimbabwe,ZWE,AF,2019,-6.33,20.6,21.83,1421.87,2203.0,1342.99,NaN,NaN
3840,Zimbabwe,ZWE,AF,2020,-7.82,19.0,21.51,1372.70,1990.0,1213.12,NaN,NaN
3841,Zimbabwe,ZWE,AF,2021,8.47,20.6,28.37,1773.92,2115.0,1289.20,NaN,NaN
3842,Zimbabwe,ZWE,AF,2022,6.52,22.0,27.37,1676.82,2208.0,1345.77,NaN,NaN

In [91]:
gdp.columns

Index(['Country', 'Code', 'ContinentCode', 'Year',
       'Economic growth: the rate of change of real GDP',
       'Gross Domestic Product billions of 2010 U.S. dollars',
       'Gross Domestic Product billions of U.S. dollars',
       'GDP per capita current U.S. dollars',
       'GDP per capita Purchasing Power Parity',
       'GDP per capita constant 2010 dollars',
       'GDP per hour worked index relative to the U.S.',
       'GDP per hour worked in current USD PPP adjusted'],
      dtype='object')

In [92]:
gdp.columns = ['country', 'code', 'continentcode', 'year',
       'economic_growth',  #the rate of change of real GDP
       'Gross Domestic Product billions of 2010 U.S. dollars',
       'Gross Domestic Product billions of U.S. dollars',
       'gdp_per_capita',
       'GDP per capita Purchasing Power Parity',
       'GDP per capita constant 2010 dollars',
       'GDP per hour worked index relative to the U.S.',
       'GDP per hour worked in current USD PPP adjusted']

In [93]:
gdp = gdp.drop(['Gross Domestic Product billions of 2010 U.S. dollars',
       'Gross Domestic Product billions of U.S. dollars','GDP per capita Purchasing Power Parity',
       'GDP per capita constant 2010 dollars',
       'GDP per hour worked index relative to the U.S.',
       'GDP per hour worked in current USD PPP adjusted'], axis=1)

In [164]:
gdp_10_22 = gdp.loc[gdp["year"] >= 2010 ]
gdp_10_20 = gdp.loc[gdp["year"] <= 2020 ]
gdp_10_20

          country code continentcode  year  economic_growth  gdp_per_capita
0     Afghanistan  AFG            AS  2003             8.83          199.64
1     Afghanistan  AFG            AS  2004             1.41          221.83
2     Afghanistan  AFG            AS  2005            11.23          254.12
3     Afghanistan  AFG            AS  2006             5.36          274.02
4     Afghanistan  AFG            AS  2007            13.83          376.32
...           ...  ...           ...   ...              ...             ...
3836     Zimbabwe  ZWE            AF  2016             0.90         1421.79
3837     Zimbabwe  ZWE            AF  2017             4.08         1192.11
3838     Zimbabwe  ZWE            AF  2018             5.01         2269.18
3839     Zimbabwe  ZWE            AF  2019            -6.33         1421.87
3840     Zimbabwe  ZWE            AF  2020            -7.82         1372.70

[3467 rows x 6 columns]

In [165]:
gdp_10_22.to_csv('./data/01_gdp_10_22.csv')
gdp_10_20.to_csv('./data/01_gdp_10_20.csv')

In [116]:
gdp_10_22_drop = gdp_10_22.drop(['code','continentcode'], axis = 1)
gdp_10_22_drop.groupby(['country']).mean().sort_values('gdp_per_capita', ascending=False).head(60)

                        year  economic_growth  gdp_per_capita
country
Monaco                2016.0         4.959231   189055.501538
Liechtenstein         2015.5              NaN   167710.640000
Luxembourg            2016.0         2.506923   116451.171538
Bermuda               2016.0        -0.986154   106482.920000
Norway                2016.0         1.597692    87996.629231
Switzerland           2016.0         1.943077    86079.308462
Qatar                 2016.0         4.546154    75046.140000
Ireland               2016.0         7.180000    69572.642308
Macao                 2016.0         0.303846    67386.303077
Singapore             2016.0         4.506923    61508.676923
Denmark               2016.0         1.925385    60511.684615
Iceland               2016.0         2.502308    59400.658462
USA                   2016.0         2.126923    59344.201538
Australia             2016.0         2.478462    58785.541538
Faroe Islands         2016.0         3.364615    58368.408462
Sweden                2016.0         2.490000    55947.725385
Netherlands           2016.0         1.627692    51826.432308
Austria               2016.0         1.360769    49406.711538
San Marino            2015.5        -1.003333    49246.315000
Canada                2016.0         2.048462    48585.393077
Finland               2016.0         1.084615    48521.051538
Belgium               2016.0         1.606923    46121.570769
Germany               2016.0         1.598462    45845.200769
United Arab Emirates  2016.0         3.201538    43681.909231
United Kingdom        2016.0         1.722308    43128.613077
Andorra               2016.0         0.540000    43073.193846
Hong Kong             2016.0         1.931538    42863.353077
New Zealand           2016.0         2.841538    42107.396154
Japan                 2016.0         0.876154    40746.260769
France                2016.0         1.196154    40719.325385
Israel                2016.0         4.250769    40596.704615
Kuwait                2016.0         1.336923    36652.096923
New Caledonia         2016.0         0.320000    36273.636923
Brunei                2016.0         0.223846    35075.296923
Italy                 2016.0         0.446923    34301.304615
Puerto Rico           2016.0        -0.810000    30340.228462
South Korea           2016.0         3.040000    29563.293846
Spain                 2016.0         0.885385    28977.684615
Bahamas               2016.0         1.308462    28807.661538
Cyprus                2016.0         2.259231    28744.052308
Aruba                 2016.0         2.060769    28078.317692
Malta                 2016.0         5.593077    27729.353077
Bahrain               2016.0         2.870769    24847.246923
Slovenia              2016.0         1.995385    24663.871538
Saudi Arabia          2016.0         3.660000    22792.626154
Portugal              2016.0         0.997692    22238.713077
Czechia               2016.0         1.950769    21761.438462
Oman                  2016.0         2.656154    20929.376923
Estonia               2016.0         3.222308    20875.587692
Greece                2016.0        -1.245385    20754.160769
Slovakia              2016.0         2.602308    18607.522308
Barbados              2016.0        -0.154615    17556.902308
Lithuania             2016.0         3.446154    17482.209231
Trinidad and Tobago   2016.0        -0.317692    17338.581538
Uruguay               2016.0         2.540000    17240.454615
Antigua and Barbuda   2016.0         0.863846    16320.721538
Latvia                2016.0         2.291538    16132.690769
Hungary               2016.0         2.710000    15028.414615
Chile                 2016.0         3.180769    14686.900000
Poland                2016.0         3.635385    14580.436154

In [118]:
gdp_10_22_drop.groupby(['country']).mean().sort_values('economic_growth', ascending=False).head(60)

                                    year  economic_growth  gdp_per_capita
country
Guyana                            2016.0        12.683846     7039.006154
Ethiopia                          2016.0         8.830769      673.229231
Ireland                           2016.0         7.180000    69572.642308
Tajikistan                        2016.0         7.101538      911.483846
China                             2016.0         6.959231     8603.500000
Turkmenistan                      2016.0         6.923077     6747.520000
Rwanda                            2016.0         6.710769      748.934615
Maldives                          2016.0         6.521538     9227.027692
Bangladesh                        2016.0         6.427692     1597.611538
Uzbekistan                        2016.0         6.221538     2145.540769
Mongolia                          2016.0         6.190769     4078.593077
Vietnam                           2016.0         6.092308     2874.366923
Democratic Republic of the Congo  2016.0         6.086923      484.436923
Laos                              2016.0         6.066923     2082.059231
Niger                             2016.0         6.012308      535.780769
Ivory Coast                       2016.0         5.987692     2086.273846
Turkey                            2016.0         5.954615    10687.424615
India                             2016.0         5.910769     1775.490000
Ghana                             2016.0         5.877692     1944.811538
Cambodia                          2016.0         5.802308     1288.230000
Guinea                            2016.0         5.726154      895.284615
Tanzania                          2016.0         5.688462      975.109231
Malta                             2016.0         5.593077    27729.353077
Panama                            2016.0         5.470000    13467.210769
Eritrea                           2010.5         5.435000      574.380000
Burkina Faso                      2016.0         5.419231      747.263077
Zimbabwe                          2016.0         5.333846     1435.751538
Philippines                       2016.0         5.218462     2997.702308
Djibouti                          2016.0         5.161111     2359.490769
Dominican Republic                2016.0         5.140000     7195.639231
Togo                              2016.0         5.137692      841.206923
Benin                             2016.0         5.003846     1164.910000
Uganda                            2016.0         4.960769      836.212308
Monaco                            2016.0         4.959231   189055.501538
Georgia                           2016.0         4.828462     4526.569231
Kenya                             2016.0         4.809231     1615.790769
Somalia                           2017.5         4.800000      537.687000
Mozambique                        2016.0         4.778462      554.482308
Indonesia                         2016.0         4.700000     3788.375385
Bhutan                            2015.5         4.652500     2904.424167
Senegal                           2016.0         4.641538     1415.326923
Malaysia                          2016.0         4.613077    10476.729231
Qatar                             2016.0         4.546154    75046.140000
Singapore                         2016.0         4.506923    61508.676923
Nepal                             2016.0         4.476923      973.419231
Zambia                            2016.0         4.429231     1442.593077
Sierra Leone                      2016.0         4.416154      530.174615
Iraq                              2016.0         4.392308     5312.544615
Botswana                          2016.0         4.322308     6636.499231
Armenia                           2016.0         4.300000     4246.540769
Israel                            2016.0         4.250769    40596.704615
Papua New Guinea                  2016.0         4.175385     2527.039231
Burma (Myanmar)                   2016.0         4.150769     1236.741538
Egypt                             2016.0         3.958462     3149.568462
Peru                              2016.0         3.860769     6413.458462
Cameroon                          2016.0         3.846154     1515.503846
Seychelles                        2016.0         3.831538    14082.650000
Kazakhstan                        2016.0         3.823077    10605.766154
Pakistan                          2016.0         3.809231     1377.376923
Mali                              2016.0         3.803077      796.355385

In [122]:
energy1= pd.read_csv('../world_in_data/energy/per-capita-energy-use.csv')
energy2 = pd.read_csv('../world_in_data/energy/per-capita-electricity-generation.csv')
energy3= pd.read_csv('../world_in_data/energy/share-of-the-population-with-access-to-electricity.csv')

In [145]:
energy1.shape

(10604, 3)

In [146]:
energy2.shape

(6624, 3)

In [147]:
energy3.shape

(6233, 3)

In [130]:
energy1.drop('Code', axis=1, inplace=True)
energy2.drop('Code', axis=1, inplace=True)
energy3.drop('Code', axis=1, inplace=True)

In [148]:
energy = energy1.merge(energy2, on=['Entity','Year'], how='left')

In [149]:
energy = energy.merge(energy3, on=['Entity','Year'], how='left')

In [152]:
energy.columns

Index(['Entity', 'Year', 'Primary energy consumption per capita (kWh/person)',
       'Per capita electricity - kWh',
       'Access to electricity (% of population)'],
      dtype='object')

In [153]:
energy.columns = ['country', 'year', 'primary_energy_consumption_per_capita',
       'electricity_per_capita',
       'access_to_electricity']

In [154]:
energy

,country,year,primary_energy_consumption_per_capita,electricity_per_capita,access_to_electricity
0,Afghanistan,1980,623.92865,NaN,NaN
1,Afghanistan,1981,786.83690,NaN,NaN
2,Afghanistan,1982,926.65125,NaN,NaN
3,Afghanistan,1983,1149.19590,NaN,NaN
4,Afghanistan,1984,1121.57290,NaN,NaN
...,...,...,...,...,...
10599,Zimbabwe,2017,3068.01150,511.82620,44.178635
10600,Zimbabwe,2018,3441.98580,627.15125,45.572647
10601,Zimbabwe,2019,3003.65530,552.92850,46.781475
10602,Zimbabwe,2020,2680.13180,428.21597,52.747670
10603,Zimbabwe,2021,2635.15360,528.96410,NaN

In [160]:
energy_drop = energy.dropna(axis=0)

In [161]:
energy_drop

,country,year,primary_energy_consumption_per_capita,electricity_per_capita,access_to_electricity
20,Afghanistan,2000,302.59482,24.561241,1.613591
21,Afghanistan,2001,236.89185,35.045600,4.074574
22,Afghanistan,2002,210.86215,33.809110,9.409158
23,Afghanistan,2003,229.96822,40.185230,14.738506
24,Afghanistan,2004,204.23125,33.540585,20.064968
...,...,...,...,...,...
10598,Zimbabwe,2016,3227.68020,496.100900,42.561730
10599,Zimbabwe,2017,3068.01150,511.826200,44.178635
10600,Zimbabwe,2018,3441.98580,627.151250,45.572647
10601,Zimbabwe,2019,3003.65530,552.928500,46.781475
10602,Zimbabwe,2020,2680.13180,428.215970,52.747670

In [163]:
energy_10_20 = energy_drop.loc[energy_drop["year"] >= 2010 ]
energy_10_20

,country,year,primary_energy_consumption_per_capita,electricity_per_capita,access_to_electricity
30,Afghanistan,2010,1182.8920,31.217106,42.700000
31,Afghanistan,2011,1436.1143,26.325546,43.222020
32,Afghanistan,2012,1324.1211,28.884200,69.100000
33,Afghanistan,2013,1060.7926,35.192047,68.290650
34,Afghanistan,2014,868.5762,35.456425,89.500000
...,...,...,...,...,...
10598,Zimbabwe,2016,3227.6802,496.100900,42.561730
10599,Zimbabwe,2017,3068.0115,511.826200,44.178635
10600,Zimbabwe,2018,3441.9858,627.151250,45.572647
10601,Zimbabwe,2019,3003.6553,552.928500,46.781475
10602,Zimbabwe,2020,2680.1318,428.215970,52.747670